{% extends 'skeleton.twig' %}

{% set globalTitle = 'Signup - StudioBookingsOnline' %}

{% set metaTitle = globalTitle  %}

{% set ogTitle = globalTitle %}

{% set twitterTitle = globalTitle %}

{% block mainContent %}

   <section class="signup">

       <div class="small-wrapper">

           <h1 class="headline-size-2 align-center">{{ entry.introHeadline }}</h1>
           <p class="align-center">{{ entry.introText }}</p>

           <form class="signup-form js-on-the-fly-validation" data-parsley-validate action="" method="POST">


               <h3 class="headline-size-4">Personal Information</h3>

               <label class="label" for="firstName">First Name</label>
               <input class="input" type="text" placeholder="John" name="first_name" id="firstName" required data-parsley-error-message="First name is required">

               <label class="label" for="lastName">Last Name</label>
               <input class="input" type="text" placeholder="Doe" name="last_name" id="lastName" required data-parsley-error-message="Last name is required">

               <label class="label" for="business">Business Name</label>
               <input class="input" type="text" placeholder="Studio XYZ" name="business_name" id="business" required data-parsley-error-message="A business name is required">

               <label class="label" for="website">Business Website</label>
               <input class="input" type="url" placeholder="www.website.com" name="business_site_url" id="website">

               <h3 class="headline-size-4">Account</h3>

               <label class="label" for="email">Your Email</label>
               <input class="input" type="email" placeholder="johndoe@email.com" name="email" id="email" required data-parsley-error-message="A valid email address is required">

               <label class="label" for="password">
                   Password
                   <span class="help-bubble">
                       <i class="_icon">?</i>
                       <span class="_bubble">Password must be at least 8 characters.</span>
                   </span>
               </label>
               <input class="input" type="password" minlength="8" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" name="password" id="password" required data-parsley-error-message="Password must be at least 8 characters.">

               <div class="g-recaptcha" data-sitekey="6LedIjsUAAAAANboQSnV4OLMtcqAzEr0qE-oHDNX" data-callback="recaptchaSolved" data-expired-callback="recaptchaReset" data-error-callback="recaptchaReset"></div>
               <input data-parsley-pattern="/solved/" id="recaptcha" name="recaptcha" class="recaptchainput" required />


               <p class="form-notice">{{ entry.formNotice }}</p>

               <div class="align-center">
                   <button type="submit" class="button-full"><i class="icon-lock-filled"></i>Sign Up</button>
               </div>

           </form>
       </div>

   </section>

{% endblock %}


{# replace the normal cta block with .. nothing! poof!#}
{% block lastcta %}{% endblock %}
{% block footerscripts %}
    {{  parent()  }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function recaptchaSolved(){
            $('#recaptcha').val('solved');
        }
        function recaptchaReset(){
            $('#recaptcha').val('');
        }
    </script>
{% endblock %}