{% if topBanner.show %}

    <div class="topBanner {{ topBanner.featureColorScheme }}">

        <div class="wrapper wysiwyg-content align-center">
            {{ topBanner.miscPageContent }}
        </div>
    </div>

{% endif %}